@import "./../../components/vars";

.projectArticle {
  width: 100%;
  max-width: 1550px;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(100%, 1fr);
  grid-gap: 50px;

  @media screen and (min-width: $width_separator_1) {
    grid-template-columns: 5fr 2fr;
  }

  .projectArticle__content {
    display: flex;
    flex-direction: column;

    p {
      font-size: 18px;
      line-height: 29px;
      margin: 6px 0;
    }


  }

  .projectArticle__gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    @media screen and (min-width: $width_separator_1) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .projectArticle__gallery__item {
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
      border-radius: 15px;
      overflow: hidden;
      padding: 0;
      display: flex;

      & > img {
        width: 100%;
        object-fit: cover;
        height: 220px;

        transition: transform .800s; /* Animation */
        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }

  img.art_miniature {
    width: 100%;
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.25));
    margin-bottom: 40px;
  }

  .projectArticle__informations {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $width_separator_2) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }


    @media screen and (min-width: $width_separator_1) {
      display: flex;
    }

    ul {
      list-style: none;
      display: inline-flex;
      flex-wrap: wrap;
      padding: 0;
      gap: 25px;

      li {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 5px;
        img{
          object-fit: contain;

        }
      }
    }

    .projectArticle__informations__item {
      display: flex;
      flex-direction: column;
      gap: 16px;

      & > div {
        display: flex;
        align-items: center;
        gap: 6px;

        h4 {
          margin: 0;
          font-weight: 500;
          text-decoration: underline;
        }

        p {
          margin: 0;
        }


      }
    }
  }
}
