@import "./../../../components/vars";

$curriculum_image_size: 80px;
$curriculum_image_height: 218px;

.curriculum {
  width: calc(100% + 20px * 2);
  display: flex;
  background: linear-gradient(256.8deg, rgba(99, 190, 255, 0.85) -12.65%, rgba(99, 190, 255, 0.72) -12.64%, rgba(194, 211, 223, 0.18) 20.23%, rgba(99, 190, 255, 0.37) 41.63%, rgba(183, 209, 227, 0.176453) 70.83%, rgba(99, 190, 255, 0.72) 108.76%, rgba(99, 190, 255, 0.87) 108.77%);
  background-size: contain;
  margin: 0 -20px;
  padding: 10% 20px;
  position: relative;
  min-height: 1000px;
  overflow: hidden;
  align-items: center;

  flex-direction: column;

  scroll-margin-top: $curriculum_image_height * -1;
  scroll-margin-bottom: $curriculum_image_height * -1;

  h2 {
    color: var(--color-text);
    font-size: 32px;
    font-weight: 700;
  }

  &:before {
    width: calc(100% + 20px * 2);
    margin: 0 -20px;
    height: $curriculum_image_height;
    top: 0;
    left: 0;
    position: absolute;
    content: url("./../../../public/cv-bg-mask-top.svg");

  }

  &:after {
    width: calc(100% + 20px * 2);
    margin: 0 -20px;
    bottom: -20px;
    left: 0;
    position: absolute;
    content: url("./../../../public/cv-bg-mask-bottom.svg");

    background-size: cover;

  }


  .curriculum__path {
    display: flex;
    flex-direction: column;
    align-items: center;


    margin: 0 0 20px;


    & > .curriculum__path__image {

      $curriculum_tree_responsive: 1000px;

      &.curriculum__path__image__small {
        width: 500px;
        @media screen and (min-width: $curriculum_tree_responsive) {
          display: none;
        }
      }

      &.curriculum__path__image__xl {
        height: calc(100vh - #{$curriculum_image_size * 2} - 20px);
        display: none;
        @media screen and (min-width: $curriculum_tree_responsive) {
          display: block;
        }
      }

      @media screen and (min-width: 1500px) {
        max-width: 1500px;
      }

      width: calc(100vw - 80px);
      max-width: 100%;
      height: auto;
    }

  }

}
