html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  scroll-behavior: smooth !important;
  color: var(--color-text);
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
}

:root {
  --color-black: #2C3E50;
  --color-black-light: #{lighten(#2C3E50, 20%)};
  --color-primary: #63BEFF;
  --color-primary-light: #{lighten(#63BEFF, 12%)};
  --color-text: var(--color-black);
  --color-text-light: var(--color-black-light);
}

main a:not(.btn) {
  color: var(--color-text-light);
  text-decoration: none;


  transition: color 0.3s;

  &:hover, &:focus {
    color: var(--color-text);
    text-decoration: underline;
  }
}
